body {
  background-color: #282c34;
  color: #61dafb;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 40vmin;
  overflow: hidden;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
main {
  position: relative;
  z-index: 2;
}
ul {
  text-align: left;
  columns: 4;
  font-size: 0.5em;
}
ul li {
  white-space: nowrap;
}

ul li sup {
  opacity: 0.3;
}
.a-wrapper {
  width: 20vh;
  height: 20vh;
  perspective: 500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
